[submodule "next-submod"]
	path = next-submod
	url = https://github.com/hassan4702/next-submod
[submodule "next-submod-two"]
	path = next-submod-two
	url = https://github.com/hassan4702/next-submod-two
